.main {
  /* theming */
  --background: var(--background-alt);
  --color: var(--color-alt);

  text-align: center;

  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color);;
}

.subheading {
  display: block;
  font-size: 0.6em;
  padding-top: 1em;
}
