.main {
  /* theming */
  --background: var(--background-alt);
  --color: var(--color-alt);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 4ch;

  font-size: calc(10px + 2vmin);
}

.subheading {
  display: block;
  font-size: 0.6em;
  padding-top: 1em;
}
