body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;

  /* theme values, to be used to override the above */
  --background-base: white;
  --color-base: black;

  --background-alt: #282c34;
  --color-alt: white;

  --brand-color: #61dafb;

  /* base values, to be overridden if necessary down the tree */
  --background: var(--background-base);
  --color: var(--color-base);
}

* {
  background-color: var(--background);
  color: var(--color);;
}
