.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  --background: var(--background-alt);
  --color: var(--brand-color);

  /* to let child's border radius kick in */
  background: transparent;
}
